<h1>編輯個人資料</h1>
<%= form_for(current_user,url: users_path, method: 'put') do |form| %>
  <div class="field">
    <%= form.label :email ,'email'%>
    <%= form.text_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :nickname ,'暱稱'%>
    <%= form.text_field :nickname %>
  </div>
  <%= form.submit '更新' %>
<% end %>