<!DOCTYPE html>
<html>
  <head>
    <title>Dcard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# link改成pack留著推上線後好找css檔 %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render "shared/navbar" %>
   <%= render "shared/flash" if notice %>
   
    <section class="main_section">
      <%= yield %>
    </section>
  </body>
</html>
